
.header-menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0;
}
.icon-img {
    background: url("../img/mobile_icons.svg") no-repeat scroll;
    background-size: 220px auto;
}
.icon-logo {
    background-position: -189px 0;
    height: 20px;
    width: 20px;
}
.icon-box {
    background-position: -69px 0;
    height: 20px;
    width: 18px;
}
.icon-chat {
    background-position: -173px -19px;
    height: 20px;
    width: 17px;
}
.icon-menu {
    background-position: -91px -56px;
    height: 20px;
    width: 18px;
}
.icon-back {
    background-position: -79px -55px;
    display: block;
    height: 20px;
    width: 12px;
}
.icon-groupMembers {
    background-position: -147px -55px;
    height: 20px;
    width: 18px;
}
.icon-delete {
    background-position: -128px -55px;
    height: 20px;
    width: 18px;
}
.icon-logout {
    background-position: -110px -54px;
    height: 20px;
    width: 18px;
}
.icon-submenu{
    background-position: -76px -19px;
    display: block;
    height: 16px;
    margin-top: 4px;
    transform: rotate(90deg);
    width: 10px;
}
.user-delet-icon {
    background: url("../img/icons.svg") repeat scroll -83px 0px transparent;
    height: 11px;
    position: absolute;
    right: 10px;
    top: 9px;
    width: 9px;
    background-size: 150px auto;
}
.header-menu li span {
    display: block;
    margin: 16px auto 0;
}
.header-menu li {
    border-color: #D7E9F1;
    border-image: none;
    border-right: thin solid #D7E9F1;
    border-bottom: thim solid #D7E9F1;
    border-style: none solid solid none;
    border-width: medium thin thin medium;
    height: 50px;
    list-style: none outside none;
    width: 24.5%;
    display: inline-block;
}
.header-menu li.menu-d {
    border-right: medium none;
}
.header-menu li.menu-enable.menu-a:hover > span {
    background-position: 0 0;
}
.header-menu li.menu-enable.menu-b:hover > span {
    background-position: 0 0;
}
.header-menu li.menu-enable.menu-c:hover > span {
    background-position: 0 0;
}
.header-menu li.menu-enable.menu-d:hover > span {
    background-position: 0 0;
}
.popup-screen-bg {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}
.popup-screen {
    left: 0;
    position: absolute;
    top: 93px;
    width: 100%;
}
#UDPopup {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}
.ui-mobile .ui-header {
    z-index: 9999;
}
.popup-screen ul {
    background: none repeat scroll 0 0 #FFFFFF;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.popup-icon-left, .popup-icon-right {
    float: left;
    margin: 12px 15px 0;
}
.popup-screen ul li {
    border-color: -moz-use-text-color #D7E9F1 #D7E9F1;
    border-image: none;
    border-right: thin solid #D7E9F1;
    border-style: none solid solid;
    border-width: medium thin thin;
    min-height: 50px;
}
.menu-text-left, .menu-text-right {
    margin-top: 12px;
    overflow: hidden;
    position: absolute;
}
.popup-icon-right {
    float: right;
}
.menu-text-right {
    right: 50px;
    text-align: right;
}
.menu-text-left {
    left: 50px;
}

.menu-text-color-CHAT_STATUS_ONLINE{
    color: #00CC99;
}
.menu-text-color-CHAT_STATUS_AWAY{
    color: #00CCCC;
}
.menu-text-color-CHAT_STATUS_EMERGENCY{
    color: #FF6600;
}
.menu-text-color-CHAT_STATUS_OFFLINE{
    color: #CCCCCC;
}
.menu-text-color-CHAT_STATUS_INVISIBLE {
    color: #FFFF99;
}

.menu-enable{
    cursor: pointer;
}
.menu-disable{
    cursor: default;
}

#statusLinkMainPage, #statusLinkChat, #statusLinkGroupChat{
    border-radius: 16px 16px 16px 16px;
    display: block;
    height: 15px;
    width: 15px;       
}

.header-status {
    position: absolute;
    right: 20px;
    top: 66px;
}
.header-backBtn {
    position: absolute;
    left: 20px;
    top: 60px;
}
.header-subMenu{
    position: absolute;
    right: 50px;
    top: 60px;
}

#mainPageHeadT, #chatPageTitle, #groupChatPageT, #manageGroupContactT{
    font-size: 15px;
    margin: 0.6em 60px 0.8em;
}

#loginPage{
    background: url("../img/loginBGbig.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
    min-height: 462px;
}
/*show button*/
#showContactsBtn li {
    background: none repeat scroll 0 0 #D7E9F1;
    max-height: 50px;
    padding: 16px 0;
}

#showContactsBtn li a{
    color: #1A1C3B;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    text-align: center;
    font-weight: normal;
}
/*#chatListT li{
    height: 70px;
}*/
.popup-text {
    color: #03B7E4;
    padding: 30px 12px;
    text-align: center;
}
.popup-screen .popup-li {
    border: medium none;
    text-align: center;
}
.ok_button {
    background: #29AB49;
    color: white;
    text-shadow: none;
    border-radius: 20px;
    padding: 5px 40px;
}
.cancel_button {
    color: #1B699B;
    text-shadow: none;
    background: #B2CCDD;
    padding: 5px 40px;
    border-radius: 20px;
}
.ok_button:hover {
    color: black;
}
.cancel_button:hover {
    color: white;
}
.button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
#loginPage .ui-btn {
    background: #29AB49;
    border: none;
    box-shadow: none;
    border-radius: 20px;
    color: white;
    width: 100px;
    margin: 0 auto;
    text-shadow: none;
}
#loginPage .ui-btn-hover-d{
    color: black;
}

#loginPage .login-link {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    margin: 6px auto;
    padding: 4px 19px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    width: 170px;
    font-weight: normal;
}
#loginPage .login-link-bigger {
    font-size: 13px;
    font-weight: bold;
    padding: 12px 19px;
}

#loginPage .login-text {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin: 20px auto 0;
    text-align: center;
    text-shadow: none;
    width: 170px;
}
#contactPageSmallMenu li {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 30px 0;
    text-align: center;
}