@font-face {
    font-family: "MetaOT";
    font-style: normal;
    font-weight: normal;
    /*src: url("ss-pika.eot?#iefix") format("embedded-opentype"), url("ss-pika.woff") format("woff"), url("ss-pika.ttf") format("truetype"), url("ss-pika.svg#SSPika") format("svg");
    */
    src: url("MetaOT-Book.otf") format("otf");
}    
@font-face {
    font-family: "SSpika";
    font-style: italic;
    font-weight: bold;
    /*src: url("ss-pika.eot?#iefix") format("embedded-opentype"), url("ss-pika.woff") format("woff"), url("ss-pika.ttf") format("truetype"), url("ss-pika.svg#SSPika") format("svg");
    */
    src: url("MetaOT-BoldIta.otf") format("otf");
}  

.ui-li-message-left, .ui-li-message-right  {
    margin: 0 78px 0 33px;
    overflow: visible;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0 0 5px;
}
.ui-li-left {
    float: left;
    margin: 0;
}
.ui-li-right {
    float: right;
    margin: 0;
}
.ui-li-dateinfo{
    background: none repeat scroll 0 0 #6DA1C3;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
}
#chatHistory li, #groupChatHistory li {
    margin: 0;
    padding: 0;
    min-height: 30px;
    border:none;
    padding: 6px 0 10px;
}
#chatHistory li.dark, #groupChatHistory li.dark {
    background: #EFF9FF;
}
#chatHistory li.ui-li-chat-date, #groupChatHistory li.ui-li-chat-date {
    background: none repeat scroll 0 0 #6DA1C3;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    min-height: 15px;
    text-align: center;
    text-shadow: none;
    padding: 0;
}
.ui-li-left .ui-li-profil-icon, .ui-li-right .ui-li-profil-icon {
    height: 25px;
    width: 25px;
}
.ui-li-message-time {
    color: #1B699B;
    margin: -16px 0 0;
    padding: 0;
    position: absolute;
    right: 7px;
}
.ui-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#chat_input{
    bottom: 0;
    display: block;
    margin: 0 -20px;
    padding: 0;
    position: absolute;
    width: 100%;

}
#chat_input .block-button-send{
    float: right;
    width: 90px;
}
#chat_input .block-input-send{
    float: right;
    margin: 3px 11px 0 0;
    min-width: 200px;
}

#popupMenu .li-CHAT_STATUS_ONLINE{
    color: #29AB49;
}
#popupMenu .li-CHAT_STATUS_AWAY{
    color: #F6AB28;
}
#popupMenu .li-CHAT_STATUS_EMERGENCY{
    color: #CF412C;
}
#popupMenu .li-CHAT_STATUS_OFFLINE{
    color: #B3B3B2;
}
#popupMenu .li-CHAT_STATUS_INVISIBLE {
    color: #D4D3D3;
}
.ui-CHAT_STATUS_ONLINE{
    background: none repeat scroll 0 0 #29AB49;
    color: #00CC99;
}
.ui-CHAT_STATUS_AVAILABLE{
    background: none repeat scroll 0 0 #00CC99;
    color: #00CC99;
}
.ui-CHAT_STATUS_AWAY{
    background: none repeat scroll 0 0 #F6AB28;
    color: #F6AB28;
}
.ui-CHAT_STATUS_EMERGENCY{
    background: none repeat scroll 0 0 #CF412C;
    color: #CF412C;
}
.ui-CHAT_STATUS_OFFLINE{
    background: none repeat scroll 0 0 #B3B3B2;
    color: #B3B3B2;
}
.ui-CHAT_STATUS_INVISIBLE {
    background: none repeat scroll 0 0 #D4D3D3;
    color: #D4D3D3;
}

.ui-icon-CHAT_STATUS_AVAILABLE{
    background: url("../img/icons_online.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_ONLINE{
    background: url("../img/icons_online.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_AWAY {
    background: url("../img/icons_away.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_EMERGENCY {
    background: url("../img/icons_emergency.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_BUSY {
    background: url("../img/icons_.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_INVISIBLE {
    background: url("../img/icons.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_OFFLINE {
    background: url("../img/icons.svg") repeat scroll 0 0 transparent;
}
#chatListT li {
    border-bottom: 1px solid #D7E9F1;
    border-top: none;
    height: 40px;
}
#chatListT li:first-child {
    border-top: 1px solid #D7E9F1;
}
#chatListT .ui-li-icon{
    left: 0;
    max-height: 30px;
    min-width: 30px;
    top: 5px;
}
#chatListT li:hover{
    background: #F1FAFE;
}
#contactListT .ui-li-icon, #contactList-selectedFriendT .ui-li-icon{
    left: 0;
    max-height: 30px;
    min-width: 30px;
    top: -1px;
}
.ui-li-message-count {
    background: none repeat scroll 0 0 lightgreen;
    border-radius: 1em 1em 1em 1em;
    color: white;
    margin: 0;
    padding: 1px 5px;
    display: inline-block;
    font-size: 11px;
}

.chat-list-friend-item, .chat-list-group-item{
    margin: 0px 0 0;
}

.ui-selectedFriend img{
    /*z-index: 1;
    box-shadow: 0 0 3px #387BBE inset, 0 0 9px #387BBE;*/
    box-shadow: 0 0 3px #00CC99 inset, 0 0 4px #00CC99;
}
#contactPageSmallMenu{
    display: none;
    margin: 15px -15px;
    list-style: none;
    padding: 0;
}

.user-status-icon {
    font-family: SSPika;
    position: absolute;
    right: 10px;
    top: 35%;
}



.hidden, #contactback.hidden, #contactPageSmallMenu li.hidden,.ui-li-message-status.hidden{
    display: none;
}

.ui-controlgroup-controls{
    font-family: SSPika; 
}


#contactLink {
    background: url("../img/icons.svg") no-repeat scroll -78px -16px transparent;
    height: 17px;
    position: absolute;
    right: 20px;
    top: 3px;
    width: 17px;
    background-size: 200px auto;
}
#infoPrivateChat, #infoGroupChat {
    background: url("../img/icons.svg") no-repeat scroll -21px -16px transparent;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 2px;
    width: 17px;
    background-size: 200px auto;
}

#statusLinkContatct {
    border: medium none;
    border-radius: 16px 16px 16px 16px;
    box-shadow: none;
    display: block;
    height: 15px;
    right: 10px;
    top: 25%;
    width: 15px;
}

.ui-body-c, .ui-overlay-c {
    background: #FFFFFF;
    color:green;


}

#chatListT li a {
    font-size: 13px;
    font-weight: normal;
    padding: 5px 0 0 35px;
}
#contactListT li, #contactList-selectedFriendT li {
    height: 30px;
    border-bottom: 1px solid #D7E9F1;
    border-top:none;
    padding: 0;
}
#contactListT li:first-child, #contactList-selectedFriendT li:first-child {
    border-top: 1px solid #D7E9F1;
}
#contactListT li a, #contactList-selectedFriendT li a {
    font-size: 13px;
    font-weight: normal;
    padding: 6px 0 0 35px;
}

.device-mobile, .device-blackberry {
    background-position: 0 0;
    background-size: 160px auto;
    height: 13px;
    width: 10px;
}
.device-tablet {
    background-position: -113px -13px;
    background-size: 160px auto;
    height: 13px;
    width: 13px;
}
.device-desktop {
    background-position: -111px 0px;
    background-size: 160px auto;
    height: 13px;
    width: 13px;
}


#contactList-selectedFriendT .user-status-icon {
    background-size: 150px auto;
    height: 12px;
    top: 14px;
    width: 9px;
}


.smallMenuBtn {
    background: url("../img/icons.svg") repeat scroll -158px -17px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    height: 15px;
    margin: 0 auto;
    width: 15px;
    background-size: 200px auto;
}

#contactPageSmallMenu .ui-controlgroup-controls a {
    padding: 4px 0 4px 24px;
    float: left;
}
#contactPageSmallMenu .ui-controlgroup-controls{
    margin: 0 0 0 -50px;
    padding-left: 50%;
}
#contactPageSmallMenu .ui-controlgroup{
    width: 100%;
}

.manageGroupMembers_ok {
    background: url("../img/icons.svg") repeat scroll -158px -20px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 19px;
    background-size: 250px auto;
}
.manageGroupMembers_cancel {
    background: url("../img/icons.svg") repeat scroll -138px 0px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 16px;
    background-size: 250px auto;
}

/******************************************************
*   contact list search filter
*******************************************************/

.ui-listview-filter {
    background: none repeat scroll 0 0 white;
}

.ui-input-search {
    border: medium none;
    box-shadow: none;
}
.ui-icon-searchfield:after{
    background: none;
}
#contactPage .ui-icon-delete {
    background: url("../img/icons.svg") repeat scroll -139px 0px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    margin: 1px 5px;
    width: 14px;
    background-size: 250px auto;
}
#contactPage form a {
    background: none;
    border: none;
}

#contactPage .ui-input-search.ui-focus{
    box-shadow: none;
}

/*********************************************************************************************************/

/******************************************************
*   chat page footer
*******************************************************/


.block-button-send .ui-btn {
    background: url("../img/send_button.png") no-repeat;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    height: 23px;
    margin: 0;
    padding: 0;
    width: 91px;    
}

.block-button-send{
    display: inline-block;
    float: right;
    margin: 3px 6px 0 0;
}

/*********************************************************************************************************/
/*.profilImg{
    width: 30px;
    height: 30px;
}*/
#contactListT li#letterDivider {
    height: 12pt;
}
#letterDivider {
    background: none repeat scroll 0 0 #F2F2F2;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 11pt;
}

/*********************************************************************************************************/

/******************************************************
*   group chat menu footer
*******************************************************/
#groupChatMenuBtn_manage:before{
    background: url("../img/icons.svg") no-repeat scroll -56px 0 transparent;
    content: "";
    float: left;
    height: 20px;
    margin: 6px 0 0;
    width: 20px;
    background-size: 240px auto;
}
#groupChatMenuBtn_rename:before{
    background: url("../img/icons.svg") no-repeat scroll -64px -19px transparent;
    content: "";
    float: left;
    height: 20px;
    margin: 6px 0 0;
    width: 20px;
    background-size: 240px auto;
}
#groupChatMenuBtn_leave:before{
    background: url("../img/icons.svg") no-repeat scroll -206px 0 transparent;
    content: "";
    float: left;
    height: 20px;
    margin: 6px 0 0;
    width: 20px;
    background-size: 240px auto;
}
#groupChatMenuBtn_close:before {
    background: url("../img/icons.svg") no-repeat scroll -147px 0 transparent;
    content: "";
    float: left;
    height: 20px;
    margin: 6px 0 0;
    width: 20px;
    background-size: 240px auto;
}
#groupChatMenuBtn_manage, #groupChatMenuBtn_rename, #groupChatMenuBtn_leave, #groupChatMenuBtn_close {
    margin: 5px 10px;
    padding: 0 0 0 8px;
    text-align: left;
    background-size: 240px auto;
}

.message_status_SERVER_PRIVATE_MESSAGE_READ{
    background: url("../img/icons.svg") no-repeat scroll 0 -13px transparent;
    display: inline-block;
    height: 11px;
    width: 16px;
    background-size: 150px auto;
}
.message_status_SERVER_PRIVATE_MESSAGE_DELIVERED{
    background: url("../img/icons.svg") no-repeat scroll -9px 0px transparent;
    display: inline-block;
    height: 11px;
    width: 13px;
    background-size: 150px auto;
}
.message_status_SERVER_PRIVATE_MESSAGE_SENT{
    background: url("../img/icons.svg") no-repeat scroll -95px -14px transparent;
    display: inline-block;
    height: 11px;
    width: 11px;
    background-size: 150px auto;
}

#chatHistoryElementPlace, #groupHistoryElementPlace {
    margin: -32px -13px -31px -53px;
}

.right_btn {
    background: none repeat scroll 0 0 #999999;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    font-weight: normal;
    left: 50%;
}

.left_btn {
    background: none repeat scroll 0 0 #999999;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    font-weight: normal;
    left: 50%;
}
.left_btn:hover,.right_btn:hover {
    background: #0099CC;
    color:#FFFFFF;
}
#loginPage div.ui-input-text {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}

.login_logo{
    background: url("../img/UDloginPageLogo.png") no-repeat scroll 0 0 transparent;
    height: 94px;
    margin: 0 auto;
    width: 94px;    
}

#connectionON {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 11px;
}

#contactLink:hover {
    background-position: -78px -63px;
}

.smallMenuBtn:hover {
    background-position: -158px -64px;
}
#chatBack:hover {
    background-position: -38px -64px;
}
.block-button-send .ui-btn:hover {
    background-position: 0 -23px;
}
#infoPrivateChat:hover, #infoGroupChat:hover{
    background-position: -21px -63px;
}
#groupChatMenuBtn_manage:hover:before {
    background-position: -56px -56px;
}
#groupChatMenuBtn_rename:hover:before {
    background-position: -64px -76px;
}
#groupChatMenuBtn_close:hover:before {
    background-position: -147px -57px;
}
.manageGroupMembers_cancel:hover {
    background-position: -138px -60px;
}
.manageGroupMembers_ok:hover {
    background-position: -158px -80px;
}


#contactListT .ui-li-static.ui-li{
    padding: 0;
}