/*header text main page*/
#mainPageHeadT:before {
    background: url("../img/icons.svg") no-repeat scroll -158px -64px / 200px auto rgba(0, 0, 0, 0);
    content: "";
    float: left;
    height: 15px;
    margin-right: 10px;
    width: 15px;
}
#mainPageHeadT {
    color: #1B699B;
    margin-left: 19px;
    text-align: left;
}

#statusLinkMainPage, #statusLinkChat, #statusLinkGroupChat{
    border-radius: 16px 16px 16px 16px;
    display: block;
    height: 15px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 15px;       
}
#chatBack{
    background-position: -38px -17px;
    width: 16px;
}
#chatBack, #contactback, #groupChatBack, #groupMenuBack {
    background: url("../img/icons.svg") no-repeat scroll -95px 0px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    height: 15px;
    left: 10px;
    text-decoration: none;
    top: 22%;
    width: 16px;
    background-size: 200px auto;
}
/*show button*/
#showContactsBtn li{
    background: none repeat scroll 0 0 #D7E9F1;   
    max-height: 22px;
}
#showContactsBtn li a{
    color: #1A1C3B;
    padding: 0;
    text-align: center;
}
.user-delet-icon {
    background: url("../img/icons.svg") repeat scroll -83px 0px transparent;
    height: 11px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 9px;
    background-size: 150px auto;
}
#contactPageSmallMenu a {
    display: block;
    padding: 16px 0 0;
}
#contactPageSmallMenu li {
    min-height: 50px;
    background: none repeat scroll 0 0 #FFFFFF;
}